/// Generate flexform-input selectors
@mixin flexform-generate-input-css() {

  $prefix: get-flexform-css-prefix();

  .#{$prefix}-input {
    @include flexform-input-base;
  }

}

@include flexform-generate-input-css;